<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Survey Form</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'surveyform/css/normalize.css' %}" charset="utf-8">
    <link rel="stylesheet" href="{% static 'surveyform/css/styles.css' %}" charset="utf-8">
  </head>
  <body>
    <div id="wrapper">
      <div id="header">
        <h2>Dojo Survey</h2>
      </div> <!-- end of header -->
      <div id="myhdrmenu" >
        <ul>
         <li><a href="/static/surveyform/graphics/home.jpg"> Home </a></li>
        </ul>
       </div><!--  End of headermenu -->
      <div class="surveyDiv">
        <form id="surveyForm" action='/process' method='post'>
        <!-- <form id="surveyForm" action='/results' method='post'> -->
          {% csrf_token %}
          <p><label>Your Name:</label><input type="text" name="name" placeholder="First and Last Name"></p>
          <p><label>Dojo Location:</label>
            <select name="location">
              <option value="Virginia Beach">Virginia Beach</option>
              <option value="San Jose">San Jose</option>
              <option value="Norfolk">Norfolk</option>
              <option value="Chesapeake">Chesapeake</option>
          </select></p>
          <p><label>Favorite Language:</label>
            <select name="language">
              <option value="PythonJinja">Python (with Jinja)</option>
              <option value="PythonDjango">Python (with dJango)</option>
              <option value="Javascript">Javascript</option>
              <option value="Java">Java</option>
              <option value="jquery">jquery</option>
          </select></p>
          <p><label>Comment (optional):</label></p>
          <p><textarea rows="4" cols="60" name="comments" form="surveyForm" placeholder="Your comments"></textarea></p>
          <div class="btnDiv">
            <button class="surveyBtn">Submit</button>
          </div>
        </form>
      </div>
    </div>  <!-- end of wrapper -->
  </body>
</html>
