<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <title>Add Book Reviews</title>
      {% load staticfiles %}
      <link rel="stylesheet" href="{% static 'reviews/css/normalize.css' %}">
      <link rel="stylesheet" href="{% static 'reviews/css/styles.css' %}">
      <link rel="stylesheet" href="{% static 'reviews/css/form.css' %}">
    </head>
    <body>
      <div id="wrapper">
        <div id="header">
          <h2>Books and Book Reviews</h2>
        </div> <!-- end of header -->
          {% if messages %}
              {% for message in messages %}
                {% if message == "Welcome" %}
                  <p>{{ message }} {{ request.session.firstname }} | Add Book and Review | Logout</p>
                {% else %}
                {% endif %}
              {% endfor %}

          {% else %}

          {% endif %}
          <h4>Welcome {{ request.session.firstname }}. </h4>
          <p><a href="../logout">Logout</a></p>
                      <a href="show">Show Registered Users</a> |
          <!-- Put div within errors to hide it until needed -->
            {% if request.session.errors %}
              <div class="errorDiv">
                {% for error in messages %}
                  <p>{{error}}</p>
                {% endfor %}
              </div>
            {% endif %}


            <h2>Recent Book Reviews</h2>

{% comment %}

            {% for book in books %}
      				<li>{{team.location}} - {{team.team_name}} {{ team.number_of_players }}</li>
      			{% empty %}
      				<p>No teams found.  Try <code>python manage.py loaddata data.json</code>, or, if that doesn't work, going <a href="{% url 'make_data' %}">here</a> (but be prepared to wait).</p>
      			{% endfor %}

            <h2>Other Books with Reviews</h2>
{% endcomment %}

<div class="aligned-form">
            <form action='/login' method='POST'>
              {% csrf_token %}
              <label for="email"><span>Email: </span><input type="text" name="loginemail"  value={{ request.session.loginemail }}></label>
              <label for="password"><span>Password: </span><input type=password name="password"></label>

              <p><input type="submit" class="button-primary" value="Login"></p>
            </form>
            <p>{{ request.session.msg }}</p>
            <h2>Registration</h2>
            <p>If you don't have an account you can register here.</p>
            <!-- Put div within errors to hide it until needed -->
              {% if messages %}
                <div class="errorDiv">
                  {% for error in messages %}
                    <p>{{error}}</p>
                  {% endfor %}
                </div>
              {% endif %}
              <div class="aligned-form">
            <form action='/register' method='POST' >
              {% csrf_token %}
              <label for="first_name"><span>First name: </span><input type="text" name="firstname"  value={{ request.session.firstname }}></label>
              <label for="last_name"><span>Last name: </span><input type="text" name="lastname"  value={{ request.session.lastname }}></label>
              <label for="email"><span>Email: </span><input type="text" name="email"  value={{ request.session.email }}></label>
              <label for="password"><span>Password: </span><input type=password name="password"></label>
              <label for="confirm_pw"><span>Confirm Password: </span><input type=password name="confirm_pw"></label>
              <p><input type="submit" class="button-primary" value="Register"></p>
            </form>
            </div


            <a href="/">Home</a>
            <a href="show">Show Registered Users</a>
          </div>
        </div>
      </div>  <!-- end of wrapper -->
    </body>
</html>
