<!DOCTYPE html>
<html>
  <head>
    <title>Disappearing Ninjas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <div id="wrapper">
      {% extends "base.html" %}
        {% block header_menu %}
        <div id="header">
          <h2>Where are the Ninjas?</h2>
        </div> <!-- end of header -->
        <div id="myhdrmenu" >
          <ul>
           <li><a href="/"> Home </a></li>
           <li><a href="http://localhost:5000/ninja" title="Ninja" > Ninja </a></li>
           <li><a href="http://localhost:5000/notes" title="Notes on using blocks" > Notes </a></li>
          </ul>
         </div><!--  End of headermenu -->
        {% endblock %}

        {% block notes %}
          <h2>Sorry. No ninjas here.</h2>
        {% endblock %}

        {% block parse_html %}
        <!-- <div>
          <p>Is this HTML parsed below? </p>
          {{ test_html }}
          <p>Is this HTML parsed above? </p>
        <div> -->
        {% endblock %}
        {% block footer %}
        <div class="footer">
          <p>Pythen Zen Quote of the Day: {{ python_zen }}</p>
        <div>
      {% endblock %}
    </div>  <!-- end of wrapper -->
    <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  </body>
</html>
