<!DOCTYPE html>
<html lang="en">
   <head>
      <title>My Positioning Template</title>
      <link rel="stylesheet" type="text/css" href="css/templatec.css">
   </head>
   <body>
       <div id="wrapper">

         <div id="headertl"><h2>Box 1 - Display: Inline-block;</h2>
         </div>
         <div id="headertrwrapper">
           <div id="hdrtrtop"><h2>Box 2 - Display: Inline-block;</h2>
           </div>
           <div id="hdrtrbtm"><h2>Box 3 - Display: Inline-block;</h2>
           </div>
         </div><!-- end of header tr wrapper -->

         <div id="menu"><h2>Menu</h2></div>

         <div id="mainlftwrapper">
           <div id="mainlfttop"><h2>Box 4 - Display: Inline-block;</h2>
           </div>
           <div id="mainlftbtm"><h2>Box 5 - Display: Inline-block;</h2>
           </div>
         </div><!-- end of main tl wrapper -->
         <div id="mainrt"><h2>Box 6 - Display: Inline-block;</h2>
         </div>
         <div id="footer"><h2>Footer</h2>
         </div>
      </div><!-- end of wrapper -->
      <div id="pic">
        <h2 align="center">Should look similar to this:</h2>
        <img src="images/templatec.png" align="center" alt="My Template">
      </div>
   </body>
</html>
